<br>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card border-primary">
        <div class="card-body">
          <div #mathField class="card-text"></div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col">
      <div class="btn-group-vertical btn-group-lg" role="group">
        <button type="button" class="btn btn-secondary" (click)="onCmd('+')">$$ + $$</button>
        <button type="button" class="btn btn-secondary" (click)="onCmd('-')">$$ - $$</button>
        <button type="button" class="btn btn-secondary" (click)="onCmd('\\div')">$$ \div $$</button>
        <button type="button" class="btn btn-secondary" (click)="onCmd('\\times')">$$ \times $$</button>
        <button type="button" class="btn btn-secondary" (click)="onCmd('\\pm')">$$ \pm $$</button>
        <button type="button" class="btn btn-secondary" (click)="onCmd('\\neq')">$$ \neq $$</button>
      </div>
      &nbsp;
      <div class="btn-group-vertical btn-group-lg" role="group">
        <button type="button" class="btn btn-secondary" (click)="onCmd('\\alpha')">$$ \alpha $$</button>
        <button type="button" class="btn btn-secondary" (click)="onCmd('\\beta')">$$ \beta $$</button>
        <button type="button" class="btn btn-secondary" (click)="onCmd('\\epsilon')">$$ \epsilon $$</button>
        <button type="button" class="btn btn-secondary" (click)="onCmd('\\theta')">$$ \theta $$</button>
        <button type="button" class="btn btn-secondary" (click)="onCmd('\\eta')">$$ \eta $$</button>
        <button type="button" class="btn btn-secondary" (click)="onCmd('\\mu')">$$ \mu $$</button>
      </div>
      &nbsp;
      <div class="btn-group-vertical btn-group-lg" role="group">
        <button type="button" class="btn btn-secondary" (click)="onCmd('\\frac{#0}{#0}')">{{'$$ \\frac{1}{2} $$'}}</button>
          <button type="button" class="btn btn-secondary" (click)="onCmd('\\sqrt{#0}')">{{'$$ \\sqrt{2} $$'}}</button>
          <button type="button" class="btn btn-secondary" (click)="onCmd('\\sum_{1}^{-1}')">{{'$$ \\sum_{1}^{-1} $$'}}</button>
          <button type="button" class="btn btn-secondary" (click)="onCmd('\\int_{1}^{-1}')">{{'$$ \\int_{1}^{-1} $$'}}</button>
          <button type="button" class="btn btn-secondary" (click)="onCmd('\\binom{#0}{#0}')">{{'$$ \\binom $$'}}</button>
          <button type="button" class="btn btn-secondary" (click)="onCmd('^{#0}')">{{'$$ x^{2} $$'}}</button>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col">
      LaTeX: <pre>{{ latex }}</pre>
    </div>
    <div class="col">
        MathML: <pre>{{ mathML }}</pre>
    </div>
    <div class="col">
        SVG: <pre>{{ svg }}</pre>
    </div>
  </div>
</div>
